<div class="container">
  <div class="details">
    <app-title title="Add New Item"></app-title>
    <form [formGroup]="additemForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Name">
        `</text-input>

      <text-input
        [control]="fc.price"
        [showErrorsWhen]="isSubmitted"
        label="Price">
        `</text-input>


      <text-input
        [control]="fc.catagory"
        [showErrorsWhen]="isSubmitted"
        label="Catagary">
        `</text-input>

      <text-input
        [control]="fc.countity"
        [showErrorsWhen]="isSubmitted"
        label="countity">
        `</text-input>



      <default-button text="ADD"></default-button>

      <div class="login" style="color: white">
        See All Items? &nbsp;
        <a routerLink="/seller" [queryParams]="{returnUrl: returnUrl}" style="color: white">
          go to items page
        </a>
      </div>


    </form>
  </div>
</div>

