<div class="sidebar">
  <a href="/seller">Items</a>
  <a class="active" href="/orderlist">Orders</a>
  <a href="/quections">Questions</a>
</div>
<div class="content">
  <h1>All Orders</h1>
  <table id="items">
    <tr>
      <th>Order Id</th>
      <th>Order Price</th>
      <th>Order By</th>
      <th>Address</th>
      <th>Pyament Status</th>
    </tr>

    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>$ {{order.totalPrice}}</td>
      <td>{{order.name}}</td>
      <td>{{order.address}}</td>
      <td>{{order.status}}</td>
    </tr>

  </table>
</div>
